body{
  background: rgb(29, 29, 29);
}

#boton_container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 12.7vw;
  padding: 10px;
}
#start{
  cursor: pointer;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: rgb(0, 189, 189);
  color: rgb(255, 255, 255);
  animation-name: boton;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: ease;
  transition: transform 1s;
}

#start:hover{
  transform: scale(1.1);
}

#start img{
  height: 12vw;
}
main{
  display: grid;
  grid-template: 100vh / .5fr 1fr;
  visibility: hidden;
  transition: opacity 1s;
  opacity: 0;
}

aside{
  background: rgb(29, 29, 29);
  border-right: 10px solid rgb(0, 140, 255);
  transition: all 1s;
}
.area{
  display: flex;
  background: rgb(0, 0, 0);
}
.marco{
  display: grid;
  grid-template: repeat(3, 12vw) /repeat(3, 12vw);
  border:  rgb(0, 140, 255) solid 5px;
  margin-top: 10vh;
  margin-left: 16vw;
  height: 36vw;
  box-sizing: content-box;
  transition: all 1s;
  background-image: url('../imagenes/112884.jpg');
  background-size: 100%;
}
.partes{
  width: 12vw;
  transition: opacity 1s;
}

.pointer{
  width: 12vw;
  height: 12vw;
  background: black;
  transition: all 1s;
}

.menu{
  border: 20px solid rgb(0, 140, 255);
  background: rgb(29, 29, 29);
  height: 40vw;
  width: 40vw;
  position: absolute;
  top: 5%;
  right:5%;
  visibility: hidden;
  transform: translateY(-200%);
  transition: all 1s;
  border-radius: 50px;
  transition-delay: .5s;
}

@keyframes colorcito{
  0%{
    border: rgb(0, 140, 255) solid 5px;
    box-shadow: rgb(0, 140, 255) 0px 0px 50px;
  }
  100%{
    border: rgb(145, 255, 0) solid 5px;
    box-shadow: rgb(145, 255, 0) 0px 0px 50px;
  }
}

@keyframes boton {
  0%{
    background: rgb(0, 129, 189);;
  }
  100%{
    background: rgb(120, 0, 189);;

  }
}

