main{
  display: grid;
  grid-template: 100vh / .5fr 1fr;
}

aside{
  background: rgb(29, 29, 29);
}
.area{
  display: flex;
  background: rgb(0, 0, 0);
  border-left: 10px solid rgb(0, 140, 255);
}
.marco{
  display: grid;
  grid-template: repeat(3, 12vw) /repeat(3, 12vw);
  border:  rgb(0, 140, 255) solid 5px;
  margin-top: 10vh;
  margin-left: 16vw;
  height: 36vw;
  box-sizing: content-box;

}
.partes{
  width: 12vw;
  transition: opacity 1s;
  
}

.pointer{
  width: 12vw;
  height: 12vw;
  background: black;
  
}

@keyframes colorcito{
  0%{
    border: rgb(0, 140, 255) solid 5px;
  }
  100%{
    border: rgb(145, 255, 0) solid 5px;
  }
}

